.box{
    border-radius: 2px;
    display: flex;
    align-items: flex-start;
}

.box p {
    color:rgba(128, 128, 128, 0.897);
}
.foto{
    
    object-fit: cover;
    height: 100%;
    max-height: 400px;
    overflow: hidden;
   
 
 
}
.danger{
    flex-wrap: inherit;
    margin: 0;
    padding: 0;
}
.carding{
    padding: 15px 10px !important;
}